body {
  background-image: url("/images/dungeon.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 1000px;
  height: 550px;
}

.text {
  color: #fff;
}

#title {
  font-size: 100px;
}

#user_name {
  font-size: 70px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 25px;
  text-decoration: none;
  background: #668ad8;
  color: white;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.button:hover {
  opacity: 0.75;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); /*影を小さく*/
}

.text_box {
  border:0;
  padding:10px;
  font-size:1em;
  font-family:Arial, sans-serif;
  border:solid 1px #ccc;
  margin:0 0 10px;
  width:300px;
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}
