<html>
  <head>
    <meta charset="utf-8">
    <title>Linux Dungeon</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/answer.css">
  </head>
  <body>
    <div class="root">
      <% include ./appbar.ejs {user} %>
      <h1 align="center">正解</h1>
      <!-- /dungeonにリクエスト -->
      <form action="/dungeon" method="post" autocomplete="off" align="center">
        <input type="submit" class="button" value="部屋を出る">
        <input type="hidden" name="did" value=<%= did %>>
        <input type="hidden" name="user" value=<%= user %>>
      </form>
    </div>
  </body>
</html>
