<html>
  <head>
    <meta charset="utf-8">
    <title>Linux Dungeon</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
  </head>
  <body>
    <div class="login">
      <br>
      <h1 align="center">Answer Page</h1>
      <h1 align="center">不正解</h1>
      <!-- /dungeonにリクエスト -->
      <form action="/dungeon" method="post" autocomplete="off" align="center">
        <input type="submit" class="button" value="問題に戻る">
      </form>
    </div>
  </body>
</html>
