<html>
  <head>
    <meta charset="utf-8">
    <title>Linux Dungeon</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
  </head>
  <body>
    <div class="login">
      <br>
      <h1 align="center">Dungeon Page</h1>
      <!-- /にリクエスト -->
      <form action="/" method="post" autocomplete="off" align="center">
        <input type="submit" class="button" value="脱出">
      </form>
    </div>
  </body>
</html>
