<html>
  <head>
    <meta charset="utf-8">
    <title>Linux Dungeon</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/dungeon.css">
    <script type="text/javascript" src="/script/dungeon.js"></script>
  </head>
  <body>
    <div class="root">
      <br>
      <h1 align="center">Dungeon Page</h1>
      <!-- /にリクエスト -->
      <form action="/" method="post" autocomplete="off" align="center">
        <input type="submit" class="button" value="脱出">
      </form>
      <!-- /dungeon/roomにリクエスト -->
      <form action="/dungeon/room" method="post" autocomplete="off" align="center">
        <input type="submit" class="button" value="部屋に入る">
      </form>
      <canvas id="soko" width="800" height="440"></canvas>
    </div>
  </body>
</html>
