<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Linux Dungeon</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/room.css">
    <script type="text/javascript" src="/scripts/question.js"></script>
  </head>
  <body>
    <div class="root">
      <% include ./appbar.ejs {user, score} %>
      <div id="question"></div>
      <!-- /dungeon/room/answerにリクエスト -->
      <form action="/dungeon/room/answer" method="post" autocomplete="off">
        <!-- 枠線なしの表で縦横を揃える -->
        <table align="center" border="0">
          <tr>
            <!-- 解答を入力する1行テキストボックス -->
            <td><input type="text" class="text_box" name="ans" placeholder="解答" required></td>
          </tr>
          <tr>
            <td>
              <div class="buttons">
                <!-- 下にある#returnのformの送信ボタン -->
                <input type="submit" class="button" value="部屋を出る" form="return">
                <div>
                  <!-- 押されるとリクエストが行われる送信ボタン -->
                  <input type="submit" class="button" value="解答">
                  <input id="user" type="hidden" name="user" value=<%= user %>>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <input id="did" type="hidden" name="did" value=<%= did %>>
      </form>
      <!-- /dungeonにリクエスト -->
      <form action="/dungeon" method="post" id="return" autocomplete="off" align="center">
        <input id="user" type="hidden" name="user" value=<%= user %>>
      </form>
      <% include ./treasure-box.ejs %>
    </div>
  </body>
</html>
