<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Linux Dungeon</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
  </head>
  <body>
    <div class="root">
      <br>
      <h1 id="title" class="text" align="center">REGISTRATION</h1>
      <%var em%>
      <%if (em == undefined) {
        let em ;}%>
      <h2 class="text" align="center"><%=em%></h2>
      <!-- /にリクエスト -->
      <form action="/" method="post" autocomplete="off">
        <!-- 枠線なしの表で縦横を揃える -->
        <table align="center" border="0">
          <tr>
            <!-- ユーザ名を入力する1行テキストボックス -->
            <td><input type="text" class="text_box" name="user" placeholder="新規ユーザ" maxlength="10" required></td>
          </tr>
          <tr>
            <!-- 入力内容が表示されないパスワード入力ボックス -->
            <td><input type="password" class="text_box" name="pass" placeholder="新規パスワード" maxlength="10" required></td>
          </tr>
          <tr>
            <!-- 入力内容が表示されないパスワード入力ボックス（確認用） -->
            <td><input type="password" class="text_box" name="pass_re" placeholder="新規パスワード（確認）" maxlength="10" required></td>
          </tr>
          <tr>
            <td>
              <div class="buttons">
                <!-- 下にある#returnのformの送信ボタン -->
                <input type="submit" class="button" value="戻る" form="return">
                <div>
                  <!-- 押されるとリクエストが行われる送信ボタン -->
                  <input type="submit" class="button" value="登録">
                </div>
              </div>
            </td>
          </tr>
        </table>
        <!-- ユーザ登録であることを伝える -->
        <input type="hidden" name="registration" value="true">
      </form>
      <!-- /loginにリダイレクト -->
      <form action="/" method="get" id="return"></form>
    </div>
  </body>
</html>
