<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/treasure-box.css">
<script type="text/javascript" src="/scripts/treasure.js"></script>

<div align="center">
  <p id="treasure-box"></p>
  <div id="modal-content-treasure"></div>
</div>
